<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hastane Web Sayfası</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="@Url.Content("~/css/pages/sayfa.css")">
</head>
<body>

    <!-- Menü ve header yukarıda zaten var -->
    <div class="slider-box">
        <img src="@Url.Content("~/images/semslider/hastarehberislider.png")" alt="Hızlı Erişim Banner">
    </div>

    <div class="content-box">
        <div class="grid-container">
            <div>Randevu Al</div>
            <div>Hasta Yatış-Çıkış</div>
            <div>Dilek İstek Şikayet Formu</div>
            <div>Kan Alma İşlemleri</div>
            <div>Öğretim Üyesi Özel Muayene</div>
            <div>Yeşil Kartlı Hastalar</div>
            <div>Nöbetçi Eczaneler</div>
            <div>Yerleşim Planı</div>
            <div>Refakatçi Politikası</div>
            <div>Anlaşmalı Kurumlar</div>
            <div>Ziyaretçi Kuralları ve Saatleri</div>
            <div>Bilgi Edinme</div>
        </div>
    </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>