<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hastane Web Sayfası</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="@Url.Content("~/css/pages/sayfa.css")">
</head>
<body>

    <!-- Menü ve header yukarıda zaten var -->
    <div class="slider-box">
        <img src="@Url.Content("~/images/semslider/hızlıerisimslider.png")" alt="Hızlı Erişim Banner">
    </div>

    <div class="content-box">
        <div class="grid-container">
            <div>Personel Eğitim Sistemi</div>
            <div>Enlil Web</div>
            <div>Personel Dilek ve Şikayet Formu</div>
            <div>Mobil Pacs Web</div>
            <div>Yemek Listesi</div>
            <div>Bilgi İşlem – Otomasyon Formlar</div>
            <div>Personel Bilgi Sistemi</div>
            <div>İstenmeyen Reaksiyon Gelişen Hastada Akış Şeması</div>
            <div>Personel E-Posta</div>
            <div>Kurul Raporu</div>
            <div>Personel E-Bordro</div>
            <div>Üç Hekim Raporu</div>
            <div>Acil Çağrı Sistemi</div>
            <div>Koruyucu Ekipmanın Uygun Kullanımı</div>
            <div>Olay Tutanağı</div>
            <div>SGK Duyurular</div>
            <div>Tıbbi Sosyal Hizmet Birimi Formlar</div>
            <div>Sağlık Uygulama Tebliği (SUT)</div>
            <div>Manevi Destek ve Rehberlik Konsültasyon Formu</div>
            <div>Kamu Hizmetleri Satış Tarifesi</div>
        </div>
    </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>