<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hastane Web Sayfası</title>
    <link rel="stylesheet" href="stylesalt.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/pages/management.css")" />
</head>
<body>
<!-- BAŞLIK GÖRSELİ -->
<section class="management-banner">
    <div class="container">
        <img src="images/managementImage/managementTitle.png" alt="Yönetim Başlığı" />
    </div>
</section>

<!-- KARTLAR -->
<section class="management-cards container">
    <div class="card-container">
        <!-- Başhekim -->
        <div class="card-row">
            <div class="card">
                <img src="images/managementImage/bashekim.png" alt="Prof. Dr. İlhan ECE" />
                <h3>BAŞHEKİM</h3>
                <p>Prof. Dr. İlhan ECE<br />Cerrahi Tıp Bilimleri</p>
                <a href="#" class="btn-akademik">YÖK AKADEMİK</a>
            </div>
        </div>

        <!-- 3'lü sıra -->
        <div class="card-row">
            <div class="card">
                <img src="images/managementImage/bahar.png" alt="Prof. Dr. Bahar OÇ" />
                <h3>BAŞHEKİM YARDIMCISI</h3>
                <p>Prof. Dr. Bahar OÇ<br />Cerrahi Tıp Bilimleri</p>
                <a href="#" class="btn-akademik">YÖK AKADEMİK</a>
            </div>
            <div class="card">
                <img src="images/managementImage/alladin.png" alt="Doç. Dr. Alaaddin YORULMAZ" />
                <h3>BAŞHEKİM YARDIMCISI</h3>
                <p>Doç. Dr. Alaaddin YORULMAZ<br />Dahili Tıp Bilimleri</p>
                <a href="#" class="btn-akademik">YÖK AKADEMİK</a>
            </div>
            <div class="card">
                <img src="images/managementImage/hakan.png" alt="Doç. Dr. Hakan CEBECİ" />
                <h3>BAŞHEKİM YARDIMCISI</h3>
                <p>Doç. Dr. Hakan CEBECİ<br />Dahili Tıp Bilimleri</p>
                <a href="#" class="btn-akademik">YÖK AKADEMİK</a>
            </div>
        </div>

        <!-- 2'li sıra -->
        <div class="card-row">
            <div class="card">
                <img src="images/managementImage/salih.png" alt="Doç. Dr. Salih MAÇİN" />
                <h3>BAŞHEKİM YARDIMCISI</h3>
                <p>Doç. Dr. Salih MAÇİN<br />Dahili Tıp Bilimleri</p>
                <a href="#" class="btn-akademik">YÖK AKADEMİK</a>
            </div>
            <div class="card">
                <img src="images/managementImage/emre.png" alt="Dr. Öğr. Üyesi Emre ALTINTAŞ" />
                <h3>BAŞHEKİM YARDIMCISI</h3>
                <p>Dr. Öğr. Üyesi Emre ALTINTAŞ<br />Cerrahi Tıp Bilimleri</p>
                <a href="#" class="btn-akademik">YÖK AKADEMİK</a>
            </div>
        </div>
    </div>
</section>

<script src="script2.js"></script>
</body>
</html>
